* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.viewport {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: blue;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.buttonArea {
    display: flex;
    flex-grow: 1;
}

.buttonArea > * {
    display: flex;
    flex-direction: column;
}